In [13]:
print('-----====Digite M para matutino, N para Vespertino e N para noturno====----')
turno = str(input('Qual turno você estuda?')).upper()
if turno == 'M':
    print('Bom dia')
elif turno == 'V':
    print('Boa tarde')
elif turno == 'N':
    print('Boa noite')
else:
    print('Desculpe, não entendi')

-----====Digite M para matutino, N para Vespertino e N para noturno====----
Bom dia

In [7]:
medias_alunos = []
alunos_acima_media = 0

for aluno in range(4):
    soma_das_notas = 0
    
    for nota in range(4):
        print("Digite a ", nota+1, "ª nota do ", aluno+1, "º aluno", sep="")
        soma_das_notas += float(input())
    
    medias_alunos.append(soma_das_notas/4)
    
    if medias_alunos[aluno] >= 7.0:
        alunos_acima_media += 1
        
print("Médias dos alunos:", medias_alunos)
print("Número de alunos acima da média:", alunos_acima_media)

Digite a 1ª nota do 1º aluno
Digite a 2ª nota do 1º aluno
Digite a 3ª nota do 1º aluno
Digite a 4ª nota do 1º aluno
Digite a 1ª nota do 2º aluno
Digite a 2ª nota do 2º aluno
Digite a 3ª nota do 2º aluno
Digite a 4ª nota do 2º aluno
Digite a 1ª nota do 3º aluno
Digite a 2ª nota do 3º aluno
Digite a 3ª nota do 3º aluno
Digite a 4ª nota do 3º aluno
Digite a 1ª nota do 4º aluno
Digite a 2ª nota do 4º aluno
Digite a 3ª nota do 4º aluno
Digite a 4ª nota do 4º aluno
Médias dos alunos: [8.75, 8.5, 8.5, 8.5]
Número de alunos acima da média: 4

DADOS SUICIDIOS NO MUNDO

In [5]:
import pandas as pd 
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv('dados_suicidio.csv')

In [3]:
df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [22]:
num  = int(input('Digite um número para saber sua tabuada'))
maior = [1]
menor = [10]
while num >= 0:
        if num > maior[0]:
            maior[0] = num
        num  = int(input('Digite um número para saber sua tabuada'))

print('========TABUADA MAIOR======')
for i in range(1,11):
    print(f'=        {maior[0]} X {i}  =  {maior[0] * i}    =')
print('========TABUADA MENOR======')
for i in range(1,11):
    print(f'=        {menor[0]} X {i}  =  {menor[0] * i}    =')
print('===========================')

========TABUADA MAIOR======
=        5 X 1  =  5     =
=        5 X 2  =  10     =
=        5 X 3  =  15     =
=        5 X 4  =  20     =
=        5 X 5  =  25     =
=        5 X 6  =  30     =
=        5 X 7  =  35     =
=        5 X 8  =  40     =
=        5 X 9  =  45     =
=        5 X 10  =  50     =
========TABUADA MENOR======
=        10 X 1  =  10     =
=        10 X 2  =  20     =
=        10 X 3  =  30     =
=        10 X 4  =  40     =
=        10 X 5  =  50     =
=        10 X 6  =  60     =
=        10 X 7  =  70     =
=        10 X 8  =  80     =
=        10 X 9  =  90     =
=        10 X 10  =  100     =
===========================